@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GangwonEduPowerExtraBoldA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


body {
  font-family: 'GmarketSansMedium';
  font-weight: normal;
  text-align: center;
  background-color: #121212;
  color: #fff;
  font-size: 18px;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #FAFE3E;
}

.yellow {
  color: #FAFE3E;
}

.ivory {
  color: #C4AF96;
}

.left {
  text-align: left;
}

.margin-b {
  margin-bottom: 50px;
}

/* Headings ********************************************************************** */

.section-heading {
  font-family: 'GangwonEduPowerExtraBoldA';
  /* font-weight: 700; */
  font-size: 2.5rem;
  line-height: 2;
}

/* Containers ******************************************************************** */

.container-fluid{
  padding: 15% 17%;
}

/* navbar *********************************************************************************/
.navbar {
  background: rgba(255,255,255, .97);
}

nav img {
  width: 118px;
}

.nav-div {

}

/* title **********************************************************************************/

#title {
  background-image: url("../images/title_background.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#title::after {
  content  : "";
  position : absolute;
  z-index  : 1;
  bottom   : 0;
  left     : 0;
  pointer-events   : none;
  background-image : linear-gradient(to bottom, 
                    rgba(18,18,18,0) 0%, 
                    rgba(18,18,18,1) 90%);
  width    : 100%;
  height   : 4em;
}

.title-img {
  width: 30vw;
  height: auto;
  margin-bottom: 200px;
}

.psalms-img {
  width: 45vw;
  height: auto;
  margin-bottom: 200px;
}

.v-video {
  width: 48vw;
  height: 27vw;
  margin-top: 100px;
}

#title .container-fluid {
  padding-bottom: 7%;
}

#title i {
  Text-width: 100px;
}

.scroll {
  margin-bottom: 200px;
}

#title h1 {
  font-family: 'GangwonEduPowerExtraBoldA';
}

/* conference *****************************************************************************/

#conference {
  background-image: url("../images/conference.png");
  background-repeat: no-repeat;
  background-size: cover;
  position:relative;
  padding-bottom: 7.5%;
}

#conference::before {
  content  : "";
  position : absolute;
  z-index  : 1;
  top   : 0;
  left     : 0;
  pointer-events   : none;
  background-image : linear-gradient(to top, 
                    rgba(18,18,18,0) 0%, 
                    rgba(18,18,18,1) 90%);
  width    : 100%;
  height   : 4em;
}

#conference::after {
  content  : "";
  position : absolute;
  z-index  : 1;
  bottom   : 0;
  left     : 0;
  pointer-events   : none;
  background-image : linear-gradient(to bottom, 
                    rgba(18,18,18,0) 0%, 
                    rgba(18,18,18,1) 90%);
  width    : 100%;
  height   : 4em;
}

#conference .container-fluid {
  padding: 15% 17% 50px;
}

#conference img {
  width: 400px;
  height: 520px;
  padding-right: 50px;
  padding-bottom: 20px;
}

.img {
  background-color: #373737;
  width: 350px;
  height: 500px;
  margin-right: 50px;
  margin-bottom: 20px;
  line-height: 500px;
}

.img-div {
  display: inline-block;
  width: 400px;
  height: 580px;
}

.slide {
  padding-left: 17%;
  width: 100%;
  height: 600px;
  white-space:nowrap;
  overflow-x: scroll;
}

.slide::-webkit-scrollbar {
  display: none;
}

/* .slide::-webkit-scrollbar {
  background: transparent;
}

.slide::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 10px;
}

.slide::-webkit-scrollbar-corner {
  border-radius: 10px;
  background: #fff;
} */

/* listen *********************************************************************************/

#listen {
  background-image: url("../images/title_background.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#listen::before {
  content  : "";
  position : absolute;
  z-index  : 1;
  top   : 0;
  left     : 0;
  pointer-events   : none;
  background-image : linear-gradient(to top, 
                    rgba(18,18,18,0) 0%, 
                    rgba(18,18,18,1) 90%);
  width    : 100%;
  height   : 4em;
}

#listen::after {
  content  : "";
  position : absolute;
  z-index  : 1;
  bottom   : 0;
  left     : 0;
  pointer-events   : none;
  background-image : linear-gradient(to bottom, 
                    rgba(18,18,18,0) 0%, 
                    rgba(18,18,18,1) 90%);
  width    : 100%;
  height   : 4em;
}

.music-come {
  width: 280px;
  height: 280px;
  box-shadow: 0 0 84px rgba(238, 238, 238, 0.25);
}

.music-text {
  font-family: 'GangwonEduPowerExtraBoldA';
  margin-bottom: 200px;
}

.apple {
  margin-bottom: 200px;
}

.video {
  padding: 2%;
  width: 33%;
  height: 14vw;
}

.video-div {
  margin-bottom: 200px;
}

.button {
  border-bottom: 1px solid #FAFE3E;
  width: 100%;
  height: 40px;
  display: block;
  background: linear-gradient(to right, #FAFE3E 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .5s ease-out;
}

.button:hover {
  background-position: left bottom;
}

.text {
  transition: all .6s ease-out;
  display: block;
  line-height: 40px;
}

.text:hover {
  color: black;  
}

/* movement *******************************************************************************/
#movement {
  background-image: url("../images/paper_background.png");
  background-repeat: no-repeat;
  background-size: cover;
  position:relative;
  color: #392B1A;
}

.move-title {
  font-family: 'GangwonEduPowerExtraBoldA';
  /* font-weight: 700; */
  font-size: 3rem;
}

#movement h6 {
  margin-bottom: 20px;
}

#movement a:hover {
  color: #FAFE3E;
}

#movement .btn {
  padding: 1.2rem 4rem;
  border-radius: 128px;
  background-color: #FAFE3E;
  border: none;
  color: #392B1A;
}

#movement .btn:hover {
  background-color: #392B1A;
  color: #fff;
}

/* QnA Section ******************************************************************* */

.accordion {
  --bs-accordion-border-radius: 0;
  --bs-accordion-btn-padding-y: 1.5rem;
  --bs-accordion-btn-padding-x: 0;
  --bs-accordion-border-width: 0
  
}

.accordion-item {
  color: #fff;
  background: #121212;
  border-bottom: solid 1px #fff;
}

.accordion-button {
  font-size: 18px;
}

.accordion-button.collapsed {
  color: #fff;
  background: #121212;
}

.accordion-button:not(.collapsed) {
  color: #fff;
  background-color: #121212;
}

.accordion-button.collapsed::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");;
}

.accordion-button:focus {
  box-shadow: none;
  border-color: rgba(0,0,0,.125);
}

.accordion-body {
  text-align: left;
  word-break: keep-all;
  padding: 0 0 1.5rem;
  color: #b0b8c1;
}

#qna p {
  margin-bottom: 0;
}

/* Footer ************************************************************************ */

#foot .container-fluid {
  padding: 2% 17%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.footer {
  font-size: 1rem;
}

#foot h4 {
  margin-bottom: 20px;
}

td {
  padding-right: 1rem;
}

.icon {
  align-self: flex-end;
}

#foot i {
  font-size: 26px;
  padding-left: 1rem;
}

#foot a:hover {
  color: #fff;
}

/* Animation ********************************************************************* */

.fade-in {
  opacity: 0;
  transition: opacity 500ms ease-in;
}

.fade-in.appear {
  opacity: 1;
}

/* Responsible ******************************************************************* */

@media (max-width: 1400px) {
  h1 {
    font-family: 'GangwonEduPowerExtraBoldA';
    font-size: 2rem;
    /* font-weight: 700; */
  }

  .section-heading {
    font-size: 2rem;
  }
}

@media (min-width: 1200px) {
  #listen .button {
    display: none;
  }
}

@media (max-width: 1199px) {
  .container-fluid {
    padding: 15% 14%;
  }

  #conference .container-fluid {
    padding: 15% 14% 50px;
  }

  #foot .container-fluid {
    padding: 2% 14%;
  }

  .title-img {
    width: 360px;
  }

  .psalms-img {
    width: 540px;
  }

  .slide {
    padding-left: 14%;
  }

  .video {
    width: 50%;
    height: 23vw;
  }

  .hidden-2col {
    display: none;
  }
}

@media (max-width: 1027px) {
  body {
    font-size: 1rem;
  }

  h1 {
    font-size: 1.7rem;
  }

  .section-heading {
    font-size: 1.7rem;
  }

  h2 {
    font-size: 1.6rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.4rem;
  }

  .accordion-button {
    font-size: 1rem;
  }

  .footer {
    font-size: 14px;
  }

  #foot i {
    font-size: 23px;
  }

  #conference img {
    width: 360px;
    height: 480px;
  }

  .img {
    width: 310px;
    height: 460px;
    line-height: 460px;
  }

  .img-div {
    width: 360px;
    height: 540px;
  }

  .slide {
    height: 560px;
  }
}

@media (max-width: 991px) {
  .container-fluid {
    padding: 15% 10%;
  }

  #title .container-fluid {
    padding: 50% 10% 7%;
  }

  #conference .container-fluid {
    padding: 15% 10% 50px;
  }

  #foot .container-fluid {
    padding: 2% 10%;
  }

  body {
    font-size: 14px;
  }

  h1 {
    font-size: 1.5rem;
  }

  .section-heading {
    font-size: 1.5rem;
  }

  .move-title {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.4rem;
  }

  h3 {
    font-size: 1.3rem;
  }

  h4 {
    font-size: 1.2rem;
  }

  .accordion-button {
    font-size: 14px;
  }

  .footer {
    font-size: 12px;
  }

  #foot i {
    font-size: 20px;
  }

  #conference img {
    width: 320px;
    height: 440px;
  }

  .img {
    width: 270px;
    height: 420px;
    line-height: 420px;
  }

  .slide {
    padding-left: 10%;
  }

  .img-div {
    width: 320px;
    height: 500px;
  }

  .slide {
    height: 520px;
  }
}

@media (min-width: 768px) {
  .phone {
    display: none;
  }
}

@media (max-width: 767px) {
  .no-phone {
    display: none;
  }

  #title .left {
    text-align: center;
  }

  .title-img {
    width: 60vw;
  }

  .psalms-img {
    width: 80vw;
  }

  .v-video {
    width: 100%;
    height: 50vw;
  }

  #conference {
    background-image: url("../images/conference_phone.png");
  }

  .video {
    width: 100%;
    height: 50vw;
    margin-bottom: 50px;
  }

  #navigation h3 {
    font-size: 0.7rem;
  }

  #conference .section-heading {
    line-height: 1;
    padding: 20px 0;
  }

  #movement .left {
    text-align: center;
  }
}

@media (max-width: 576px) {
  body {
    font-size: 13px;
  }

  .container-fluid {
    padding: 15% 5%;
  }

  #title .container-fluid {
    padding: 50% 5% 7%;
  }

  #conference .container-fluid {
    padding: 40% 5% 50px;
  }

  #conference {
    padding-bottom: 20%;
  }

  #movement .container-fluid {
    padding: 30% 5%;
  }

  #foot .container-fluid {
    padding: 2% 5%;
  }

  h2 {
    font-size: 1rem;
  }

  h3 {
    font-size: 1rem;
  }

  .footer {
    font-size: 10px;
  }

  #foot i {
    font-size: 17px;
    padding-left: 10px;
  }

  .slide {
    padding-left: 5%;
  }

  .video {
    width: 100%;
    height: 60vw;
    margin-bottom: 50px;
  }
}